/* Medias para dispositivos */

$mediaMovil: 360px;
$media500: 500px;
$media576: 576px;
$media700: 700px;
$mediaTablet: 768px;
$media768: 768px;
$media800: 800px;
$media992: 992px;
$media1000: 1000px;
$mediaDesktop: 1280px;
$media40r: 40rem;
$media56r: 56rem;

/* Posiciones */

$positionR: relative;

/* Anchos y altos */

$width100: 100%;
$height100: 100%;
$width50: 50%;
$height50: 50%;

/* Background */

$bgRepeat: no-repeat;

/* Display */

$displayFlex: flex;