/* Font */

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Estilos de los textos que aparecen en los cards de los cocktails */

.text--medium {
    font-family: $fFamilyText;
    font-size: $sizeText;
    line-height: $lineHText;
    font-weight: $fontWeigthText400;
    color: $colorText;
}


/* Algunos de los titulos de la aplicación tendrán este estilo. */

.titulo {
    font-family: $fontCalibri;
    font-size: $tituloSize;
    margin-top: $tituloMarginT;
}

.subtitulo {
    font-family: $fontCalibri;
    font-size: $subtituloSize;
}

.tituloCock {
    font-family: $fontCalibri;
    font-size: $tituloCockSize;
}

.tituloAbout {
    font-family: $fontCalibri;
    font-size: $tituloAbt;
}