.container{

    width: 100%;
    height: auto;

}

.container-2{
    
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #ECEBEA;
    padding: 10px;

}

.container-3{

    padding: 20px;
    font-size: 15px;
    text-align: center;

}

.container-4{

    padding: 20px;
    font-size: 15px;
    text-align: center;

}


.video-container {

    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}